<p-card>
    <p-table [value]="clientes" *ngIf="clientes?.length">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr>
          <td><strong>{{ item.nombreCliente }}</strong></td>
          <td>
            <a [href]="'mailto:' + item.emailCliente" class="contact-info">
              {{ item.emailCliente }}
            </a>
          </td>
          <td>
            <a [href]="'tel:' + item.telfCliente" class="contact-info">
              {{ item.telfCliente }}
            </a>
          </td>
          <td>
            <p-tag
              [value]="item.status ? 'Activo' : 'Inactivo'"
              [severity]="item.status ? 'success' : 'danger'">
            </p-tag>
          </td>
          <td>
            <div class="action-buttons flex gap-2">
              <button
                pButton
                icon="pi pi-pencil"
                class="p-button-warning p-button-sm"
                (click)="editarCliente(item)">
              </button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-danger p-button-sm"
                (click)="eliminarCliente(item)">
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
