
/*Inicio footer*/
footer {
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 180px;
    background: var( --color-dark-primary);
}

footer .footer-container {
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}


footer p{
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

footer a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
    margin: 0;
}
